/* =========================================
   Base button (alpha style only)
   ========================================= */

button {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.alpha .btn {
    display: inline-block;
    margin: 3px;
    font-size: inherit;
    line-height: 1.42;
    padding: 0.6em 0.4em;
    font-weight: normal;
    border-width: 0;
    border-style: solid;
    background: transparent;
    border-radius: 0.2666666667em;
    cursor: pointer;
    font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
    user-select: none;
    vertical-align: bottom;
    transition: box-shadow 0.2s, transform 0.2s, color 0.2s;
}

.alpha .btn.btn-disabled {
    cursor: not-allowed;
    opacity: 0.8;
}

.alpha .btn.btn-disabled:active {
    opacity: 0.6;
}

.alpha .btn:hover {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
}

.alpha .btn:active,
.alpha .btn[data-active=true] {
    transform: translateY(3px);
}

.alpha .btn-primary {
    box-shadow: 0 3px 0 0 #367f14, 0 4px 4px -1px rgba(0, 0, 0, 0.6), 0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    background-color: #52C11F;
    background-image: linear-gradient(-45deg, #52C11F, #7ccc14);
    color: #E6EAEF;
}

.alpha .btn-primary:hover {
    box-shadow: 0 3px 0 0 #367f14, 0 6px 4px -1px rgba(0, 0, 0, 0.3), 0 4px 16px rgba(0, 0, 0, 0.5), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.14) inset;
}

.alpha .btn-primary:active {
    box-shadow: 0 0px 0 0 #2d6911, 0 3px 0 0 rgba(0, 0, 0, 0), 0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, 0.5) inset, 0 -18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    transition: 0s;
    color: #367f14;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.alpha .btn-secondary {
    box-shadow: 0 3px 0 0 #082fa6, 0 4px 4px -1px rgba(0, 0, 0, 0.6), 0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    background-color: #0B44EF;
    background-image: linear-gradient(-45deg, #0B44EF, #007dfa);
    color: #E6EAEF;
}

.alpha .btn-secondary:hover {
    box-shadow: 0 3px 0 0 #082fa6, 0 6px 4px -1px rgba(0, 0, 0, 0.3), 0 4px 16px rgba(0, 0, 0, 0.5), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.14) inset;
}

.alpha .btn-secondary:active {
    box-shadow: 0 0px 0 0 #07288d, 0 3px 0 0 rgba(0, 0, 0, 0), 0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, 0.5) inset, 0 -18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    transition: 0s;
    color: #082fa6;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.alpha .btn-tertiary {
    box-shadow: 0 3px 0 0 #b3004a, 0 4px 4px -1px rgba(0, 0, 0, 0.6), 0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    background-color: #FF006A;
    background-image: linear-gradient(-45deg, #FF006A, #ff00aa);
    color: #E6EAEF;
}

.alpha .btn-tertiary:hover {
    box-shadow: 0 3px 0 0 #b3004a, 0 6px 4px -1px rgba(0, 0, 0, 0.3), 0 4px 16px rgba(0, 0, 0, 0.5), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.14) inset;
}

.alpha .btn-tertiary:active {
    box-shadow: 0 0px 0 0 #990040, 0 3px 0 0 rgba(0, 0, 0, 0), 0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, 0.5) inset, 0 -18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    transition: 0s;
    color: #b3004a;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.alpha .btn-tetrary {
    box-shadow: 0 3px 0 0 #6b139e, 0 4px 4px -1px rgba(0, 0, 0, 0.6), 0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    background-color: #991BE2;
    background-image: linear-gradient(-45deg, #991BE2, #640eef);
    color: #E6EAEF;
}

.alpha .btn-tetrary:hover {
    box-shadow: 0 3px 0 0 #6b139e, 0 6px 4px -1px rgba(0, 0, 0, 0.3), 0 4px 16px rgba(0, 0, 0, 0.5), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.14) inset;
}

.alpha .btn-tetrary:active {
    box-shadow: 0 0px 0 0 #5b1087, 0 3px 0 0 rgba(0, 0, 0, 0), 0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, 0.5) inset, 0 -18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    transition: 0s;
    color: #6b139e;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.alpha .btn-black {
    box-shadow: 0 3px 0 0 #040405, 0 4px 4px -1px rgba(0, 0, 0, 0.6), 0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    background-color: #252730;
    background-image: linear-gradient(-45deg, #252730, #212934);
    color: #E6EAEF;
}

.alpha .btn-black:hover {
    box-shadow: 0 3px 0 0 #040405, 0 6px 4px -1px rgba(0, 0, 0, 0.3), 0 4px 16px rgba(0, 0, 0, 0.5), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.14) inset;
}

.alpha .btn-black:active {
    box-shadow: 0 0px 0 0 black, 0 3px 0 0 rgba(0, 0, 0, 0), 0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, 0.5) inset, 0 -18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    transition: 0s;
    color: #040405;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.alpha .btn-dark {
    box-shadow: 0 3px 0 0 #1e1f26, 0 4px 4px -1px rgba(0, 0, 0, 0.6), 0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    background-color: #3F4351;
    background-image: linear-gradient(-45deg, #3F4351, #384758);
    color: #85898f;
}

.alpha .btn-dark:hover {
    box-shadow: 0 3px 0 0 #1e1f26, 0 6px 4px -1px rgba(0, 0, 0, 0.3), 0 4px 16px rgba(0, 0, 0, 0.5), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.14) inset;
}

.alpha .btn-dark:active {
    box-shadow: 0 0px 0 0 #121418, 0 3px 0 0 rgba(0, 0, 0, 0), 0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, 0.5) inset, 0 -18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    transition: 0s;
    color: #1e1f26;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.alpha .btn-dark[data-active=true] {
    box-shadow: 0 0px 0 0 #121418, 0 3px 0 0 rgba(0, 0, 0, 0), 0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, 0.5) inset, 0 -18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    transition: 0s;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.alpha .btn-gray {
    box-shadow: 0 3px 0 0 #4a4b56, 0 4px 4px -1px rgba(0, 0, 0, 0.6), 0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    background-color: #6D6F7F;
    background-image: linear-gradient(-45deg, #6D6F7F, #61708b);
    color: #E6EAEF;
}

.alpha .btn-gray:hover {
    box-shadow: 0 3px 0 0 #4a4b56, 0 6px 4px -1px rgba(0, 0, 0, 0.3), 0 4px 16px rgba(0, 0, 0, 0.5), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.14) inset;
}

.alpha .btn-gray:active {
    box-shadow: 0 0px 0 0 #3e3f48, 0 3px 0 0 rgba(0, 0, 0, 0), 0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, 0.5) inset, 0 -18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    transition: 0s;
    color: #4a4b56;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.alpha .btn-light {
    box-shadow: 0 3px 0 0 #b7c3d1, 0 4px 4px -1px rgba(0, 0, 0, 0.6), 0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    background-color: #E6EAEF;
    background-image: linear-gradient(-45deg, #E6EAEF, #e4edf1);
    color: #252730;
}

.alpha .btn-light:hover {
    box-shadow: 0 3px 0 0 #b7c3d1, 0 6px 4px -1px rgba(0, 0, 0, 0.3), 0 4px 16px rgba(0, 0, 0, 0.5), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.14) inset;
}

.alpha .btn-light:active {
    box-shadow: 0 0px 0 0 #a8b6c7, 0 3px 0 0 rgba(0, 0, 0, 0), 0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, 0.5) inset, 0 -18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    transition: 0s;
    color: #b7c3d1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.btn-sm {
    font-size: 0.85em !important;
}

.btn-md {
    font-size: 1.2em !important;
}

.btn-lg {
    font-size: 1.6em !important;
}
